{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <h2 style="text-align: center">Bienvenue à toi {{ app.user.fisrtName }} </h2>
    {% endif %}
{% endblock %}